/*
	Author:			
	Assignment:		SEMESTER PROJECT
	Date:			3/29/2016
	Purpose:		
*/

body {
	font-family: 'Antic', sans-serif;
	font-size: 1.2em;
	background-color: black;
	color: black ;
}

header, nav, article, footer {
	width: 900px;
	margin: auto;
}

header {
	height: 190px;
	background-color: black;
	color: white;
	padding: 25px 0;
}

nav {
	height: 2em;
	padding: 0;
	background-color: black;
	border-bottom: 3px solid #FF0000;
	margin-top: 0;
}

.fa {
  padding: 2px;
  font-size: 30px;
  width: 50px;
  text-decoration: none;
  position: absolute; right: 1%;
  margin: 5px 2px;
}

.fa-facebook {
  top: 7em;
  color: white;
}

.fa-twitter {
  top: 10em;
  color: white;
}

.fa-instagram {
  top: 13em;
  color: white;
}


nav a {
	display: block;
	width: 75px;
	text-align: center;
	margin-right: 5px;
	float: left;
	padding: 3px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

nav a:link, nav a:visited {
	background-color:black;
	color:white;
}

nav a:hover, nav a:active {
	box-sizing: border-box;
	background-color:black;
	color: black;
	border: 1px solid ;
}

a {
	text-decoration: none;
	color: white;
}

img.floatLeft {
	display: block;
	float: left;
	margin:  1px;
	height: 261px;
}

img.floatRight {
	display: block;
	float: right;
	margin: 0 15px;
	height: 150px;
}

.clearBoth {
	clear: both;
}

footer {
    padding-left: 32em;
    text-align: center;
    bottom: auto; bottom: -25em;
	background-color:#f000;
    position: absolute; right: 18%;
	color: white;
}

h2 {
	text-align: center;
	width: 98%;
    font-size: 35px;
	margin: 25px;
	color: white;
    height: 2em;
    border-bottom: 3px solid #400000;
}

header h1, header h2 {
    display: block;
    margin: 110px;
    font-size: 45px;
	border-width: 0;
	color: white;
}

.ptitle {
   color: white;
   font-size: 1.8em;
   font-weight: bolder;
   position: absolute; left: 38%;
   border-bottom: 2px solid white;
}

.pq1 {
   color: white;
   font-size: 1.2em;
   bottom: auto; top: 22em;
   position: absolute; left: 24%;
}

.pa1 {
   color: white;
   font-size: 1em;
   bottom: auto; top: 29em;
   position: absolute; left: 24%;
}

.pq2 {
   color: white;
   font-size: 1.2em;
   bottom: auto; top: 29em;
   position: absolute; left: 24%;
}

.pa2 {
   color: white;
   font-size: 1em;
   bottom: auto; top: 37.5em;
   position: absolute; left: 24%;
}


.pq3 {
    color: white;
   font-size: 1.2em;
   bottom: auto; top: 36em;
   position: absolute; left: 24%;
}

.pa3 {
   color: white;
   font-size: 1em;
   bottom: auto; top: 45.7em;
   position: absolute; left: 24%;
}
