/*
	Author:			
	Assignment:		SEMESTER PROJECT
	Date:			3/29/2016
	Purpose:		
*/

body {
	font-family: 'Antic', sans-serif;
	font-size: 1.2em;
	background-color: black;
	color: black ;
}

header, nav, article, footer {
	width: 900px;
	margin: auto;
}

header {
	height: 190px;
	background-color: black;
	color: white;
	padding: 25px 0;
}

nav {
	height: 2em;
	padding: 0;
	background-color: black;
	border-bottom: 3px solid #FF0000;
	margin-top: 0;
}

.fa {
  padding: 2px;
  font-size: 30px;
  width: 50px;
  text-decoration: none;
  position: absolute; right: 1%;
  margin: 5px 2px;
}

.fa-facebook {
  top: 7em;
  color: white;
}

.fa-twitter {
  top: 10em;
  color: white;
}

.fa-instagram {
  top: 13em;
  color: white;
}


nav a {
	display: block;
	width: 75px;
	text-align: center;
	margin-right: 5px;
	float: left;
	padding: 3px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

nav a:link, nav a:visited {
	background-color:black;
	color:white;
}

nav a:hover, nav a:active {
	box-sizing: border-box;
	background-color:black;
	color: black;
	border: 1px solid ;
}

a {
	text-decoration: none;
	color: white;
}

img.floatLeft {
	display: block;
	float: left;
	margin:  1px;
	height: 261px;
}

.clearBoth {
    
	clear: both;
}


footer {
    padding-left: em;
    position: absolute;
    bottom: auto; bottom: -20em;
	background-color:#f000;
    text-align: center;
    position: absolute; right: 19%;
	color: white;
    padding-bottom: 1em;
}
h2 {
	text-align: center;
	width: 98%;
    font-size: 35px;
	margin: 25px;
	color: white;
    height: 2em;
    border-bottom: 3px solid #400000;
}

header h1, header h2 {
    display: block;
    margin: 110px;
    font-size: 45px;
	border-width: 0;
	color: white;
}

.intro {
   color: white;
   font-weight: bolder;
   text-align: center;
   bottom: auto; bottom: 8em;
   position: absolute; right: 43%;
   font-size: 38px;
   border-bottom: 1px solid white;
}

.synth {
   color: white;
   bottom: auto; bottom: -1em;
   position: absolute; left: 13.0em;
   font-size: 37px;
}

.tbd {
   color: white;
   bottom: auto; bottom: -1em;
   position: absolute; right: 10%;
   font-size: 37px;
}

.tbd2 {
   color: white;
   bottom: auto; bottom: -1em;
   position: absolute; left: 12%;
   font-size: 37px;
}

.tbd3 {
   color: white;
   bottom: auto; bottom: -1em;
   position: absolute; right: 30%;
   font-size: 37px;
}

.midnight {
   position: absolute; right: 53%;
   bottom: auto; bottom: 2em;
}
