/*
	Author:			
	Assignment:		SEMESTER PROJECT
	Date:			3/29/2016
	Purpose:		
*/

body {
	font-family: 'Antic', sans-serif;
	font-size: 1.2em;
	background-color: black;
	color: black ;
}

header, nav, article, footer {
	width: 900px;
	margin: auto;
}

header {
	height: 190px;
	background-color: black;
	color: black;
	padding: 25px 0;
}

nav {
	height: 2em;
	padding: 0;
	background-color: black;
	border-bottom: 1px solid darkred/* color here */;
	margin-top: 0;
}

nav a {
	display: block;
	width: 75px;
	text-align: center;
	margin-right: 5px;
	float: left;
	padding: 3px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

nav a:link, nav a:visited {
	background-color:black ;
	color:darkred ;
}

nav a:hover, nav a:active {
	box-sizing: border-box;
	background-color:black ;
	color: black;
	border: 1px solid /*color here*/;
}

a {
	text-decoration: none;
	color: black;
}

img.floatLeft {
	display: block;
	float: left;
	margin: 0 15px;
	height: 150px;
}

img.floatRight {
	display: block;
	float: right;
	margin: 0 15px;
	height: 150px;
}

.clearBoth {
	clear: both;
}

footer {
	clear: both;
	line-height: 2em;
	margin: 0 auto;
	background-color:darkred ;
	color: black;
}

h1, h2 {
	text-align: center;
	width: 75%;
	margin: auto;
	border-bottom: 2px solid rgba(0,0,200,.7);
	color: darkred;
}

header h1, header h2 {
	border-width: 0;
	color: darkred;
}

article {
	box-sizing: border-box;
	border: 1px solid /* color here */;
	color: darkred;
	padding: 15px;
}


/* Enter your rules above this one */
.cite {
	display: block;
	width: 400px;
	float: right;
	font-size: .8em;
	font-style: italic;
	margin: 10px 100px 20px 0;
}



